.sign-up{
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     overflow: hidden;
     position: relative;
}
.sign-up-right{
     width: 50%;
     height: 100%;
     transition: transform 1s ease-in-out;
}
.sign-up-right img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.sign-up-left{
     font-family: Rubik, serif;
     font-size: 1.2rem;
     width: 50%;
     padding: 20px;
     flex: 1;
}
.sign-up-left h1{
     font-family: Spectral, sans-serif;
     font-size: 3rem;
     color: #102660;
     text-align: center;
}
 
 
 
.sign-up-form{
     width: 70%;
     margin: 0 auto;
     color: crimson;
}
 #name, #email, #password{
     width: 96%;
     padding: 10px;
     margin: 15px 0;
     border-radius: 5px;
     border: 1px solid black;
     font-size: 1.2rem;
 }
.sign-up-btn{
     background-color: pink;
     border-radius: 20px;
     font-weight: 600;
     width: fit-content;
     padding: 10px 15px;
     margin: 0 auto;
     transition: all 0.6s ease;
}
.sign-up-btn:hover{
     background-color: #19D019;
}
.sign-up-option{
     width: fit-content;
     margin: 30px auto;
}
.sign-up-option span{
     color: crimson;
     font-weight: 800;
     transition: all 0.6s ease;
     cursor: pointer;
}
.sign-up-option span:hover{
     color: navy;
}



.move-left {
     transform: translateX(-100%);
}