.sign-in{
    margin: 0;
    height: 100vh;
    display: flex;
 }
 .sign-in-left{
     width: 50%;
 }
 .sign-in-left img{
     width: 100%;
     height: 100%;
 }
 .sign-in-right{
     font-family: Rubik, serif;
     font-size: 1.2rem;
     width: 50%;
     padding: 20px;
 }
 .sign-in-right h1{
     font-family: Spectral, sans-serif;
     font-size: 3rem;
     color: #102660;
     text-align: center;
 }
 
 
 
 .sign-in-form{
     width: 70%;
     margin: 0 auto;
     color: crimson;
 }
 #name, #email, #password{
     /* background-color: #DBD9DA; */
     width: 96%;
     padding: 10px;
     margin: 15px 0;
     border-radius: 5px;
     border: 1px solid black;
     font-size: 1.2rem;
 }
 .sign-in-btn{
     background-color: pink;
     border-radius: 20px;
     font-weight: 600;
     width: fit-content;
     padding: 10px 15px;
     margin: 0 auto;
     transition: all 0.6s ease;
 }
 .sign-in-btn:hover{
     background-color: #19D019;
 }
 .sign-in-option{
     width: fit-content;
     margin: 30px auto;
 }
 .sign-in-option span{
     color: crimson;
     font-weight: 800;
     transition: all 0.6s ease;
 }
 .sign-in-option span:hover{
     color: navy;
 }